<link href="~/css/searchbar.css" rel="stylesheet" />

<form method="get" asp-action="Filter" asp-controller="Home">
    <div class="search-container">
        <input type="text" name="movie" placeholder="Search..."> <!-- Added 'name' attribute -->
        <button type="submit">Search</button>
    </div>
</form>
