@model Actor


<center>
    <div class="actor">
<h1>Details of @Model.Name </h1>

<div class="actualDetails">

    <img class="actorimgs" src="@Model.Imgurl" />
<div class="actorDetail">
    <a>FullName: @Model.Name</a>
    <a>Bio: @Model.Description </a>
</div>
    </div>

</div></center>